body {
  background: #f9f9f9;
  color: rgb(45, 45, 45);
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

h1 {
  text-transform: uppercase;
  font-size: 100px;
  color: #6886c5;
}

.time {
  font-size: 15px;
  font-style: italic;
  font-weight: lighter;
  color: gray;
}

a:link {
  color: #6886c5;
}

a:hover {
  color: #ffacb7;
  font-weight: bolder;
}

a:visited {
  color: #6886c5;
}

.main .newTweet {
  display: inline-block;
  width: 75%;
  text-align: left;
}

.twiddle-list {
  display: inline;
  padding: 10px;
  
}

.tweet {
  color: #6886c5;
  background: #ffacb746;
  border: 2 px solid #6886c5;
  border-width: 1px;
  border-radius: 0.6em;
  padding: 10px;
  margin: 1em;
}



#get-new-tweet {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid  #6886c5;
  border-radius: 0.6em;
  color:  #6886c5;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.get-new-tweet {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  
}